.login_page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
   background-color: #6532f1 !important;
   /* background-image: url('../../../public/bg.jpg') !important; */
   background-position: center;
   background-size: cover;
   color: #ffffff !important;


}

.main_container{
    border: 0px solid black;
    padding: 80px;
    background-color: #ffffff;
    border-radius: 5px;
     color: #000000;
     border: solid;
     box-shadow: 10px 10px 10px rgba(238, 237, 237,0);
}

.form_css{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 30px;
}

.home_header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}






